/*This file contains all styles related to the button component.*/

.btn {
  padding: 0.5em 1.5em;
  color: $button-text-color;
  border: 1px solid $button-text-color;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.btn:hover {
  color: $button-text-color;
  background-color: #EEE;
}

.btn + .btn {
  margin-left: 1em;
}

.btn--loading {
  color: white;
  background-color: $button-color;
}

#btn {
    padding: 0.5em 1.5em;
    background-color: white;
    color: $button-text-color;
    border: 1px solid $button-text-color;
    border-radius: 3px;
    text-decoration: none;
    user-select: none;
    display: inline-block;
}
